 h1 {
            color: blue;
            font-size: 2.5em;
        }
        h2 {
            color: red;
            font-size: 2em;
        }
        h3 {
            color: green;
            font-size: 1.75em;
        }
        h4 {
            color: orange;
            font-size: 1.5em;
        }
        h5 {
            color: gray;
            font-size: 1.25em;
        }
        h6 {
            color: yellow;
            font-size: 1em;
        }