 h1 {
            color: #2a7ae2;
            font-size: 2.5em;
        }
        h2 {
            color: #f44336;
            font-size: 2em;
        }
        h3 {
            color: #4caf50;
            font-size: 1.75em;
        }
        h4 {
            color: #ff9800;
            font-size: 1.5em;
        }
        h5 {
            color: #607d8b;
            font-size: 1.25em;
        }
        h6 {
            color: #ffeb3b;
            font-size: 1em;
        }